*{
    justify-content: center;
    align-items: center;
    margin: 0%;
    padding: 1%;
}

.container{
    background-color: beige;
    width: fit-content;
}



.close {
    width: 30px;
    margin-left: 40px;
    cursor: pointer;
}
.close:hover{
    color: red;
}
li{
    flex: content;
    justify-self: center;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 15px;
    padding: 10px;

}